@font-face {
    font-family: carto;
    src: url('Fonts/cartograph-cf/CartographCF-Bold.ttf');
}

* {
    padding: 0%;
}

html,
body,
#fullheight {
    min-height: 100% !important;
    height: 100%;
}

html {
    height: 100%;
    max-width: 100%;
}


body {
    background-color: #EAE2B7;
    margin: 0;
}

h1 {
    font-family: carto;
}

p {
    font-family: carto;
}

a {
    text-decoration-line: none
}

.container {
    width: 100%;
    height: 100%;
    background: #EAE2B7;
}

.menu ul {
    display: inline-flex;
    margin: 30px 0 0 20px;

}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #003049;
    font-family: carto;
    cursor: pointer;
}

.logo img {
    width: 75px;
    margin-top: -8px;
    margin-right: 40px;
}

.we {
    position: relative;
    display: flex;
    justify-content: center;
    color: #003049;
    margin-top: 10px;
    font-size: 4.3em;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1100px) {
    #loko {
        display: none;
    }
}

#type-writer {
    color: #d62828;
    margin: 0;
    width: fit-content;
    font-family: carto;
    font-size: 2rem;
    position: relative;
}

#cursor {
    display: inline-block;
    height: 2rem;
    width: 1rem;
    background-color: #d62828;
}

.bott {
    z-index: 9999;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem;
    height: 1.7rem;
}

.bot {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}


#apply h1 {
    margin-bottom: 0;
}

#apply {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: carto;
    color: #003049;
    font-size: 2em;
    position: relative;
    z-index: 0;
}

#oval {
    width: 250px;
    height: 30px;
    border-radius: 50%;
    background: #fcbf49;
    cursor: pointer;
    transition: width 0.4s ease, height 0.4s ease;
    margin-top: -20px;
}

#ovalwraper {
    z-index: 15;
    display: flex;
    justify-content: center;
}


.blue {
    background-color: #003049;
    display: flex;
    padding: 2rem;
}


.blue h1 {
    background-color: #003049;
    color: #fcbf49;
    font-size: 2.6em;
    margin-left: 6%;
}

.blue p {
    max-width: 700px;
    font-size: 1.2em;
    color: #EAE2B7;
}

.blue p:not(:last-child) {
    margin-bottom: 1rem;
}


.blue img {
    width: 200px;
    margin-left: auto
}


.hidden {
    display: none;
}

.projects {
    width: 100%;
    height: 700px;
}

.projects h1 {
    margin-top: 15px;
    text-align: center;
    color: #003049;
    font-size: 3em;
}

.sur {
    width: 40%;
    height: 280px;
    background-color: #fcbf49;
    margin-left: 8%;
    border-radius: 17%;
    margin-top: 30px;
    box-shadow: 0px 20px #d62828;
    cursor: pointer;
    max-width: 500px;
}

.wip1 {
    padding-bottom: 10px;
}

.sur h1 {
    background-color: transparent;
    font-size: 2.3em;
    margin-top: 10px;
    cursor: pointer;
    color: #d62828;
}

.sur p {
    background-color: transparent;
    margin-left: 10px;
    font-size: 1.1em;
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;
    color: #003049;
}

.hcsy {
    width: 40%;
    height: 470px;
    background-color: #fcbf49;
    margin-left: 53%;
    border-radius: 17%;
    margin-top: 10px;
    box-shadow: 0px 20px #d62828;
    position: absolute;
    margin-top: -280px;
    cursor: pointer;
    max-width: 500px;
}

.hcsy h1 {
    background-color: transparent;
    font-size: 2.1em;
    margin-top: 10px;
    color: #d62828;
}

.hcsy p {
    background-color: transparent;
    margin-left: 10px;
    padding-top: 30px;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #003049;
}

.hole {
    width: 40%;
    height: 470px;
    background-color: #fcbf49;
    margin-left: 8%;
    border-radius: 17%;
    margin-top: 30px;
    box-shadow: 0px 20px #d62828;
    padding-top: 10px;
    cursor: pointer;
    max-width: 500px;
}

.hole h1 {
    background-color: transparent;
    font-size: 2.3em;
    margin-top: 10px;
    color: #d62828;
}

.hole p {
    background-color: transparent;
    margin-left: 10px;
    font-size: 1.1em;
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 70%;
    margin: 0 auto;
    color: #003049;
}

.more {
    width: 40%;
    height: 280px;
    background-color: #fcbf49;
    margin-left: 53%;
    border-radius: 17%;
    margin-top: 10px;
    box-shadow: 0px 20px #d62828;
    position: absolute;
    margin-top: -284px;
    cursor: pointer;
    max-width: 500px;
}

.more h1 {
    background-color: transparent;
    font-size: 2.3em;
    margin-top: 10px;
    color: #d62828;
}

.more p {
    background-color: transparent;
    margin-left: 10px;
    font-size: 1.2em;
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
    color: #003049;
}

.space {
    height: 50px;
    width: 400px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    font-family: carto;
    src: url('Fonts/cartograph-cf/CartographCF-Bold.ttf');
    color: #d62828;
}

#projects-link {
    text-decoration: none;
    color: #003049;
}
